body{
  background-color: white;
}
.image-container {
  background-size:cover;
  background-repeat:no-repeat;
  width:250px;
  height:250px;
}  
.tool{
  text-align: center;
}

.label{
  float: center;
}

li{
  list-style: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}